# IntelliJ files
.idea/*

# Python
__pycache__/

# part of data folder content
data/input/*
data/mappings/*
data/ontologies/*
data/output/*

!data/input/.gitkeep
!data/mappings/.gitkeep
!data/mappings/statistics/.gitkeep
!data/mappings/manual_template.csv
!data/ontologies/.gitkeep
!data/output/.gitkeep
!data/output/statistics/.gitkeep

# test coverage
.coverage
